<h5>Exemplos de Pipes</h5>

<p>Título: {{ livro.titulo | uppercase | lowercase | camelCase }}</p>
<p>Estrelas: {{ livro.rating | number:'1.1-1' }}</p>
<p>Páginas: {{ livro.numeroPaginas | number }}</p>
<p>Preço: {{ livro.preco | currency:'BRL' }}</p>
<p>Data Lançamento: {{ livro.dataLancamento | date:'dd/MMM/yyyy' }}</p>
<p>Url: {{ livro.url }}</p>
<br>
<p>Livro: {{ livro | json }}</p>
<!-- Lembrando que esses pipes são default do Angular e são exportados pelo common module -->
<!-- Desta forma os mesmos são servidos as nossas aplicações pelo BrowserModule ou pelo CommonModule -->
<input type="text" [(ngModel)]="filtro" />
<br>
<input type="text" #novoCurso />
<button (click)="addCurso(novoCurso.value)">Add Curso</button>
<ul>
    <li *ngFor="let liv of livros | filtroArray:filtro">{{ liv }}</li>
</ul>